In [1]:
# Instalando as bibliotecas e atualizando 
!pip install pyDOE
!pip install -U seaborn
# Import MEF 1D Algorithm
!pip install -i https://test.pypi.org/simple/ FINITO-FEM-TOOLBOX
from FINITO_FEM_TOOLBOX import MEF1D
from RASD_TOOLBOX import RASD_STOCHASTIC
import numpy as np

Requirement already satisfied: pyDOE in c:\users\donizetti\anaconda3\lib\site-packages (0.3.8)
Requirement already satisfied: numpy in c:\users\donizetti\anaconda3\lib\site-packages (from pyDOE) (1.20.1)
Requirement already satisfied: scipy in c:\users\donizetti\anaconda3\lib\site-packages (from pyDOE) (1.6.2)
Requirement already satisfied: seaborn in c:\users\donizetti\anaconda3\lib\site-packages (0.11.1)
Requirement already satisfied: pandas>=0.23 in c:\users\donizetti\anaconda3\lib\site-packages (from seaborn) (1.2.4)
Requirement already satisfied: matplotlib>=2.2 in c:\users\donizetti\anaconda3\lib\site-packages (from seaborn) (3.3.4)
Requirement already satisfied: scipy>=1.0 in c:\users\donizetti\anaconda3\lib\site-packages (from seaborn) (1.6.2)
Requirement already satisfied: numpy>=1.15 in c:\users\donizetti\anaconda3\lib\site-packages (from seaborn) (1.20.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\donizetti\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in c:\users\donizetti\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (8.2.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\donizetti\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\donizetti\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\donizetti\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: six in c:\users\donizetti\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\donizetti\anaconda3\lib\site-packages (from pandas>=0.23->seaborn) (2021.1)
Looking in indexes: https://test.pypi.org/simple/
Requirement already satisfied: FINITO-FEM-TOOLBOX in c:\users\donizetti\anaconda3\lib\site-packages (0.0.0)

In [2]:
P2Y = ['NORMAL', 15000, 2500]
P3Y = ['NORMAL', 20000, 4500]

SETUP = {'REPETITIONS': 1,
        'TOTAL SAMPLING': 10,
        'TOTAL G FUNCTIONS': 1,
        'TOTAL DESIGN VARIABLES': 2,
        'VARS': [P2Y, P3Y],
        'MODEL': 'MCS'}

In [7]:
def OBJ(X):
    P2Y = X[0]
    P3Y = X[1]
    # Dataset
    FRAME_00 = {"TYPE_ELEMENT": 0,
              "TYPE_SOLUTION": 0,
              "N_NODES": 6,
              "N_MATERIALS": 1,
              "N_SECTIONS": 1,
              "N_ELEMENTS": 5,
              "N_DOFPRESCRIPTIONS": 5,
              "N_DOFLOADED": 3,
              "N_DOFSPRINGS": 0,
              "COORDINATES": 
              np.array([[0.0,0.0],
                [0.0,3.0],
                [1.0,3.0],
                [2.0,3.0],
                [3.0,3.0],
                [3.0,0.0]]),
              "ELEMENTS": 
              np.array([[0,1,0,0,0,0],
                [1,2,0,0,0,0],
                [2,3,0,0,0,0],
                [3,4,0,0,0,0],
                [4,5,0,0,0,0]]),
              "MATERIALS": 
              np.array([[24E9,0.20,7800.0,1E-8]]),
              "SECTIONS": 
              np.array([
                [0.08,-1989,0.001067,-1989,-1989]]),
              "PRESCRIBED DISPLACEMENTS": 
              np.array([[0,0,0],
                [0,1,0],
                [0,2,0],
                [5,0,0],
                [5,1,-0.10]]),
              "ELEMENT LOADS": None,
              "NODAL LOADS": 
              np.array([
                [1,0,1000],
                [2,1,-P2Y],
                [3,1,-P3Y]]),
              "SPRINGS": None}
    FRAME_00_RESULTS = MEF1D(DICTIONARY = FRAME_00)
    FRAME_00_BAR_0 = FRAME_00_RESULTS[0]
    AXIAL_FORCE_LIST_BAR_0 = FRAME_00_BAR_0['N']
    N = AXIAL_FORCE_LIST_BAR_0[5]              
    S_1 = np.abs(N)
    R_1 = 143E3
    # STATE LIMIT FUNCTION
    G_0 = R_1 - S_1
    R = [R_1] 
    S = [S_1] 
    G = [G_0]
    return R, S, G

In [8]:
RESULTS_TEST = RASD_STOCHASTIC(SETUP, OBJ)

In [9]:
RESULTS_TEST

            X_0           X_1       R_0            S_0          G_0    I
0  19373.140054  12076.848498  143000.0  144701.740118 -1701.740118  1.0
1  10017.791456  23195.267490  143000.0  141986.492670  1013.507330  0.0
2  14704.544226  14934.260144  143000.0  142510.892038   489.107962  0.0
3  15612.504908  13536.685799  143000.0  142675.347672   324.652328  0.0
4  19806.762799  11914.438711  143000.0  144936.927746 -1936.927746  1.0
5  12429.879964  23837.274842  143000.0  143776.326671  -776.326671  1.0
6  12759.273403  29612.641032  143000.0  145787.790967 -2787.790967  1.0
7  14146.857430  18663.765890  143000.0  143301.288948  -301.288948  1.0
8  17176.120632  20240.675652  143000.0  145789.052647 -2789.052647  1.0
9  16021.326337  16364.092029  143000.0  143823.484914  -823.484914  1.0

In [6]:
FRAME_00_RESULTS = MEF1D(DICTIONARY = FRAME_00)
FRAME_00_RESULTS

NameError: name 'FRAME_00' is not defined

In [ ]:
FRAME_00_BAR_2 = FRAME_00_RESULTS[2] 
FRAME_00_BAR_2

In [ ]:
FRAME_00_BAR_2['N']

In [ ]:
FRAME_00_BAR_2['N'][5]